{erl_opts, [debug_info]}.
{deps, [
	{uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", {tag, 'v0.5.0'}}}
       ]}.

{profiles, [
  {test, [
    {deps, [
      {proper, {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
    ]},
    {extra_src_dirs, ["test"]},
    {erl_opts, [debug_info]}
  ]}
]}.
